/* line 1, ../sass/toolbar.scss */
.sch-clear {
  clear: both;
}

/* line 5, ../sass/toolbar.scss */
.sch-left {
  float: left;
}

/* line 9, ../sass/toolbar.scss */
.sch-center {
  text-align: center;
}

/* line 13, ../sass/toolbar.scss */
.sch-right {
  float: right;
}
